.header {
  display: flex;
  margin-bottom: 24px;
  .logo {
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .nav {
    margin: 0 0 0 16px;
  }
}